{% extends 'userview/base.html' %}
{% block title %}Home{% endblock %}

<main role="main" class="container">
    {% block content %}

    <div class="jumbotron" style="text-align: center;">
        <p></p>
        <h1 class="display-5">Welcome to the homepage</h1>
        <p class="lead">Here you can see all movies and genres from our database.</p>
        <p class="lead">Go to "Movies" or "Genres" page to see a list of them.</p>
    </div>
    {% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
</main>
